In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
#Programme d'aggrégation des fichiers meteo synop mensuel téléchargés à partir du site de météo-france

In [3]:
#lecture de la liste des mois
df_mois=pd.read_csv(r"C:\DATA\meteo\liste_mois.csv")
df_mois["mois"]=df_mois["mois"].astype("str")
liste_mois=list(df_mois["mois"])

In [4]:
#Initialisation du dataframe avec le dernier mois de la liste
nomFichier="C:\DATA\meteo\synop."+liste_mois[-1]+".csv"
data_synop=pd.read_csv(nomFichier,sep=";")

#Ajout des moissuivants
for i in np.arange(len(liste_mois)-1):
    nomFichier="C:\DATA\meteo\synop."+liste_mois[i]+".csv"
    data=pd.read_csv(nomFichier,sep=";")
    data_synop=pd.concat([data_synop,data],axis=0)

#Nombre de lignes du fichier résultant
print("dimensions data_synop :",data_synop.shape[0])

dimensions data_synop : 4561174

In [5]:
#Sélection des variables suite à l' étude de  qualité préalable
data_synop=data_synop[["numer_sta","date","t"]]
data_synop=data_synop.rename({"numer_sta":"ID_station"},axis=1)
data_synop=data_synop.reset_index(drop=True)
data_synop.head(5)

   ID_station            date           t
0        7005  20230201000000  280.150000
1        7015  20230201000000  280.250000
2        7020  20230201000000  281.950000
3        7027  20230201000000  280.350000
4        7037  20230201000000  280.350000

In [6]:
#Sélection des stations à partir du fichier issu de l'étude préalable
liste_stations=pd.read_csv(r"C:\DATA\meteo\stations_Synop_sélectionnées.csv")

data_synop=data_synop.merge(right=liste_stations,on="ID_station",how="inner")

print("Nombre de stations sélectionnées:",liste_stations.shape[0])

#nombre de lignes du fichier résultant
print("dimensions data_synop :",data_synop.shape[0])

Nombre de stations sélectionnées: 42
dimensions data_synop : 3248258

In [7]:
data_synop.head(5)

,ID_station,date,t,Nom_station,Latitude,Longitude,Altitude,geometry,distance_Paris
0,7005,20230201000000,280.150000,ABBEVILLE,50.136,1.834,69,POINT (1.834 50.136),146.972
1,7005,20230201030000,279.250000,ABBEVILLE,50.136,1.834,69,POINT (1.834 50.136),146.972
2,7005,20230201060000,279.250000,ABBEVILLE,50.136,1.834,69,POINT (1.834 50.136),146.972
3,7005,20230201090000,280.450000,ABBEVILLE,50.136,1.834,69,POINT (1.834 50.136),146.972
4,7005,20230201180000,281.650000,ABBEVILLE,50.136,1.834,69,POINT (1.834 50.136),146.972

In [8]:
#Exportation du fichier préparé pour la suite de l'étude
data_synop.to_csv(r"C:\DATA\meteo\data_synop.csv",index=False)

In [9]:
#FIN CONCATENATION des fichiers